</div>
<footer class="w-full mt-20">
    <!-- Background -->
    <div class="w-full bg-gradient-to-br from-pink-200 via-pink-200 to-pink-100 pt-16 pb-10">

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

            <div>
                <img src="/img/logo6.jpg">
            </div>

            <div class="ml-20">
                <h3 class="text-gray-700 font-bold text-lg mb-3">Develope and Designed</h3>
                <div class="group flex items-center gap-2">
                    <p class="text-gray-700 text-sm ">Krittaya Tantichaiyakul</p>
                    <p class="transition-transform group-hover:scale-150 transform origin-left">💗</p>
                </div>
                <div class="group flex items-center gap-2">
                    <i class="fa-solid fa-envelope text-gray-700"></i>
                    <p class="text-gray-700 text-sm">Email: golfring.dove@hotmail.com</p>
                </div>
                <div class="group flex items-center gap-2">
                    <i class="fa-solid fa-phone text-gray-700"></i>
                    <p class="text-gray-700 text-sm">Tel: 083-476-5037</p>
                </div>
                <div class="group flex items-center gap-2">
                    <i class="fa-solid fa-location-dot text-gray-700"></i>
                    <p class="text-gray-700 text-sm"> KlongChan, BangKaPi, Bangkok 10240</p>
                </div>
            </div>


            <div class="ml-10">
                <h3 class="text-gray-700 font-bold text-lg mb-3">Media</h3>
                <div class="group flex items-center gap-2 text-lg mb-1">
                    <i
                        class="fa-brands fa-facebook text-blue-700 hover:text-blue-400 group-hover:scale-150 duration-300"></i>
                    <p class="text-gray-700 text-sm group-hover:scale-110 duration-300"> Aloha Golfring</p>
                </div>
                <div class="group flex items-center gap-2 text-lg mb-1">
                    <i
                        class="fa-brands fa-line text-green-500 hover:text-green-300 group-hover:scale-150 duration-300"></i>
                    <p class="text-gray-700 text-sm group-hover:scale-110 duration-300">Golfring ☘</p>
                </div>
                <div class="group flex items-center gap-2 text-lg mb-1">
                    <i
                        class="fa-brands fa-github text-gray-700 hover:text-gray-500 group-hover:scale-150 duration-300"></i>
                    <p class="text-gray-700 text-sm group-hover:scale-110 duration-300">SmileCat44</p>
                </div>
            </div>



            <!-- Divider -->
            <div
                class="w-24 h-[2px] bg-gradient-to-r from-transparent via-pink-800 to-transparent rounded-full mx-auto col-span-1 md:col-span-3">
            </div>

            <!-- Bottom Text -->
            <p class="text-[11px] text-gray-700 uppercase tracking-[0.25em] mx-auto md:col-span-3">
                © 2026 Give me Co., Ltd. All Rights Reserved
            </p>

        </div>
    </div>
    </div>
</footer>