<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Doll Gift Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        body {
            margin: 0;
            font-family: "Segoe UI", sans-serif;
            background: #fff7fb;
            font-family: 'kanit';
        }

        /* HEADER */
        .header {
            background: #ffd6ec;
            padding: 18px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
            font-family: 'kanit';
        }

        /* LOGO */
        .logo {
            font-size: 24px;
            font-weight: bold;
            color: #d63384;
        }

        /* MENU */
        .nav a {
            margin-left: 20px;
            text-decoration: none;
            color: #c2185b;
            font-weight: 500;
        }

        .nav a:hover {
            color: #ff4fa3;
        }

        /* CONTENT */
        .container {
            padding: 40px;
        }
    </style>

</head>

<body>

    <div class="header">

        <div class="logo">
            🎁 Doll Gift Shop
        </div>

        <div class="nav">
            <a href="/index">หน้าแรก</a>
            <a href="/show">สินค้า</a>
            <a href="#">เกี่ยวกับเรา</a>
            <a href="#">ติดต่อ</a>
        </div>

    </div>

    <div class="max-w-7xl mx-auto p-10">