<h2>🧸 Doll Shop</h2>

<select id="select">
  <option value="">-- choose doll --</option>
  <% list.forEach(d => { %>
    <option value="<%= d.doll_id %>">
      <%= d.doll_name %>
    </option>
  <% }) %>
</select>

<hr>

ID: <span id="a"></span><br>
Name: <span id="b"></span><br>
Price: <span id="c"></span><br>
Picture: 
<span id="d"></span><br><br>
<img id="img" width="150">

<hr>
<h2>จัดการข้อมูล</h2><br><br>

<input id="doll_name" placeholder="doll name">
<input id="doll_price" placeholder="price">
<input id="doll_picture" placeholder="picture file name"><br><br>

<button onclick="create()">Add</button>
<button onclick="update()">Update</button>
<button onclick="remove()">Delete</button>

<script>

// LOAD ONE
document.getElementById('select').onchange = async function() {

  const id = this.value;
  if(!id) return;

  const r = await fetch('/api/doll/' + id);
  const data = await r.json();

  document.getElementById('a').innerText = data.doll_id;
  document.getElementById('b').innerText = data.doll_name;
  document.getElementById('c').innerText = data.doll_price;
  document.getElementById('d').innerText = data.doll_picture;
  document.getElementById("img").src =
  "/img/" + data.doll_picture;

  document.getElementById("doll_name").value = data.doll_name;
document.getElementById("doll_price").value = data.doll_price;
document.getElementById("doll_picture").value = data.doll_picture;
}


// CREATE
async function create() {

  const payload = {
    doll_name: document.getElementById("doll_name").value,
    doll_price: document.getElementById("doll_price").value,
    doll_picture: document.getElementById("doll_picture").value
  };

  console.log(payload);

  const r = await fetch('/api/doll',{
    method:'POST',
    headers:{'Content-Type':'application/json'},
    body: JSON.stringify(payload)
  });

  console.log(await r.text());

  location.reload();
}

// UPDATE
async function update() {

  const id = document.getElementById('a').innerText;

  await fetch('/api/doll/'+id,{
    method:'PUT',
    headers:{'Content-Type':'application/json'},
    body: JSON.stringify({
      doll_name:name.value,
      doll_price:price.value,
      doll_picture:picture.value
    })
  });

  location.reload();
}


// DELETE
async function remove() {

  const id = document.getElementById('a').innerText;

  await fetch('/api/doll/'+id,{
    method:'DELETE'
  });

  location.reload();
}

</script>